<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Movings</title>
</head>

<body>
  <div id="container">
    <div id="main">
      <div id="top">
      </div>
      <aside>
        <nav>
          <div>
            <a href="/">Home</a>
            <a href="/move/new">New</a>
            <a href="/move/">Your movings</a>
            <a href="/logout">Log out</a>
          </div>
        </nav>
      </aside>
      <%- body %>
    </div>
  </div>
</body>
