<form action="/box/<%= moveId %>/box/new" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="destination">Description</label>
    <input type="text" name="description" id="description">
    <input type="submit" value="Create">
  </form>