
<h1>Your movings</h1>

<% moves.forEach((move) => { %>
      <a href="/move/<%= move._id %>">
        <%= move.name %>
      </a>
      <a href="/move/<%= move._id %>/update">
        Update
      </a>
      <form action="/move/<%= move._id %>/delete" method="post">
        <input type="submit" value="Delete">
      </form>
      <br>
  <% })%>

<a href="/move/new">Create a moving</a>  
 